*,
*::before,
*::after {
  // box-sizing: inherit;
  box-sizing: border-box;
}

/* скидаєм всі відступи з блокових елементів */
// div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* padding: 0px; */
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  scroll-behavior: smooth;
  background-color: #F7CAC9;
}

/* скидаєм відступ від картинки вниз, ширина макс віз 100% */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* скидаєм зі списку ul збоку декор елементи - крапочки  */
li {
  list-style: none;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* скритий вміст */
/* Hidden title */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}