*,
*::before,
*::after {
  box-sizing: inherit;
  // box-sizing: border-box;
}

/* скидаєм всі відступи з блокових елементів */
// div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* padding: 0px; */
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  scroll-behavior: smooth;

  // розкидаєм футер i хедер
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* скидаєм відступ від картинки вниз, ширина макс віз 100% */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* скидаєм зі списку ul збоку декор елементи - крапочки  */
li {
  list-style: none;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* скритий вміст */
/* Hidden title */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// address {
//   font-style: normal;
// }

// button {
//   background: none;
//   outline: none;
//   border: none;
// }

// section {
//   min-width: 100%;
// }

//приклад медіа запитів
// body {
// background-image: url(/src/images/background-mobile.png),
//   linear-gradient(
//     180.11deg,
//     #e5e2e3 10.73%,
//     #fdfefe 38.02%,
//     #e5e2e3 71.11%,
//     #fdfefe 99.91%
//   );
// @media screen and (min-width: 768px) {
//   background-image: url(/src/images/background-tablet.png),
//     linear-gradient(
//       180.11deg,
//       #e5e2e3 10.73%,
//       #fdfefe 38.02%,
//       #e5e2e3 71.11%,
//       #fdfefe 99.91%
//     );
// }
// @media screen and (min-width: 1280px) {
//   background-image: url(/src/images/background-mobile.png),
//     linear-gradient(
//       180.11deg,
//       #e5e2e3 10.73%,
//       #fdfefe 38.02%,
//       #e5e2e3 71.11%,
//       #fdfefe 99.91%
//     );
// }

// background-repeat: no-repeat;
// background-size: cover;

// cursor: url('/src/images/donut-mause.png'), pointer;
// }
