<footer class="footer">
  <div class="container">
    <!-- <h1 class="text">FOOTER</h1> -->
    <a href="./index.html" class="logo">
      <p>SearchPet</p>
    </a>
    <div class="footer__contact" id="contact">
      <address class="user-address">
        <ul class="address list">
          <li class="addres__item header__item">
            <a href="mailto:info@devstudio.com" class="addres__mail"
              >lev_info@gmail.com
            </a>
          </li>
          <li class="addres__item header__item">
            <a href="tel:+380961111111" class="addres__phone"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
