<main class="main">
  <div class="container">
    <section class="main__section">
      <p class="search__title">Find your favorite animal</p>
      <div class="search__container">
        <form class="search-form" id="search-form">
          <input
            class="search__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search images..."
          />
          <button type="submit" class="searchbtn btn pink">Search</button>
        </form>
      </div>
    </section>

    <div class="gallery">
      <!-- Картки зображень -->
    </div>

    <button type="button" class="load-more disablet btn pink">load-more</button>
  </div>
</main>
