.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgb(41, 12, 85, 0.4);
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;

  @media screen and (min-width: 768px) {
    padding-top: 13px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 15px;
  }
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: end;
}
