.main .container {
  padding-top: 90px;
  padding-bottom: 75px;

  @media screen and (min-width: 768px) {
    padding-top: 110px;
    padding-bottom: 115px;
  }
}

.main__section {
  margin-bottom: 15px;

  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
  }
}

.search__title {
  font-size: 22px;
  font-weight: 900;

  margin-right: auto;
  margin-left: auto;

  color: #ff8b88;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.search__input {
  width: 100%;

  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &:hover,
  &:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
  }
  @media screen and (min-width: 768px) {
    width: 600px;
  }

  @media screen and (min-width: 1280px) {
    width: 800px;
  }
}

:root {
  --indent: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  // gap: 20;
}

.gallery__link {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .gallery__link {
    flex-direction: column;
  }
  .imgsize {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .gallery__link {
    flex-basis: calc((100% - var(--indent) * (2 - 1)) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .gallery__link {
    flex-basis: calc((100% - var(--indent) * (4 - 1)) / 4);
  }
}

.search-form .btn {
  display: inline-flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    // margin-bottom: 15px;
  }
}

// .endGallery {
//   display: none;
// }

//кнопочка load-more
.btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--disabled {
  display: none;
}

.btn {
  border-radius: 50px;
  // text-transform: uppercase;
  position: relative;
  text-decoration: none;
  // display: flex;
  align-items: left;
  justify-content: center;
  border: 1.5px solid #575756;
  // border: 1.5px solid black;
  // padding: 1rem 2rem;
  padding: 12px 24px;
  // font-size: 3rem;
  background-size: 300%;
  transition: all 0.6s;
  margin-top: 5px;

  color: pink;
  background-image: linear-gradient(20deg, white 50%, pink 50%);

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
}

// .pink {
//   color: pink;
//   background-image: linear-gradient(20deg, white 50%, pink 50%);
// }

.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(46, 41, 41);
}
